<clr-modal [(clrModalOpen)]="dialogOpen" [clrModalStaticBackdrop]=false>
    <h3 class="modal-title">Modal Title</h3>
    <div class="modal-body">
        <form clrForm clrLayout="horizontal">
            <clr-input-container [ngClass]="inputContainerClass">
                <label 
                    [ngClass]="labelClass">First Name
                </label>
                <input 
                    class="responsive-field clr-col-12 clr-col-md-9" 
                    clrInput type="text" 
                    [(ngModel)]="firstName" 
                    placeholder="Enter first name"
                    name="firstName"
                />
            </clr-input-container>
            <clr-input-container [ngClass]="inputContainerClass">
                <label 
                [ngClass]="labelClass">Last Name
                </label>
                <input 
                    class="responsive-field clr-col-12 clr-col-md-9"
                    clrInput 
                    type="text" 
                    [(ngModel)]="lastName"
                    placeholder="Enter last name"
                    name="lastName" 
                />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer responsive-footer">
        <button type="button" class="btn btn-outline" (click)="closeDialog()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="closeDialog()">Done</button>
    </div>
</clr-modal>

<div *ngIf="dialogOpen" class="modal-backdrop"></div>